@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

body, html, #root {
    width: 100%;
    height: 100%;
}

.App {
    display: flex;
    width: 100%;
    height: 100%;
}

.menu {
    background: yellowgreen;
    width: 200px;
}

.menu2 {
    border-right: 1px solid black;
    background-color: lightgreen;
    width: 200px;
}

.body {
    background: white;
}

.menu > .srLink {
    display: block;
    margin: 1em;
    padding: 1em;
}

.srLink {
    background-color: white;
    cursor: default;
    user-select: none;
}

.srLink:active {
    background-color: silver;
}

.srLink.active {
    outline: 2px solid black;
}

.srContainer {
    flex-grow: 1;
    font-size: 50px;
    position: relative;
    overflow: hidden;
}

.srContainer > div {
    position: absolute;
    transition: left  2s;
}

.stay {
    left: 0;
}

.enter {
    left: 100%;
}

.leave {
    left: -100%;
}

.box {
    margin: 1em;
    background-color: silver;
}

.tabs {
    font-size: 30px;
    padding: 1em;
}

.tabs > .head > a {
    padding: 2px 1em;
}

.tabs > .head > .active {
    outline: none;
    border-bottom: 2px solid green;
}

.tabs > .srContainer {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    font-size: 20px;
}
